<p id="notice"><%= notice %></p>

<h1>Listing Travellers</h1>

<table>
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Sex</th>
      <th>Idnum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travellers.each do |traveller| %>
      <tr>
        <td><%= traveller.no %></td>
        <td><%= traveller.name %></td>
        <td><%= traveller.sex %></td>
        <td><%= traveller.idnum %></td>
        <td><%= link_to 'Show', traveller %></td>
        <td><%= link_to 'Edit', edit_traveller_path(traveller) %></td>
        <td><%= link_to 'Destroy', traveller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Traveller', new_traveller_path %>
